/*Specific section titles*/
.product::before {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-style: normal;
  color: #cfcfcf;
  font-family: "helvetica-lt-pro", sans-serif;
  text-shadow: 1px 1px #793e98;
  position: relative;
}

.product {
  border-bottom: 3px solid #793e98;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
}

.product:last-of-type {
  border-bottom: none;
}

/*Action*/
#action-sections-container > .product:nth-of-type(1)::before {
  content: "ORIGINAL";
}

#action-sections-container > .product:nth-of-type(2)::before {
  content: "MODERN";
}

#action-sections-container > .product:nth-of-type(3)::before {
  content: "FANTASY";
}

/*Comedy*/
#comedy-sections-container > .product:nth-of-type(1)::before {
  content: "MUST-SEE HITS";
}

#comedy-sections-container > .product:nth-of-type(2)::before {
  content: "COMEDY GOLD";
}

#comedy-sections-container > .product:nth-of-type(3)::before {
  content: "ALL-TIME FAVES";
}

/*Documentary */
#documentary-sections-container > .product:nth-of-type(1)::before {
  content: "TRUE IMPACT";
}

#documentary-sections-container > .product:nth-of-type(2)::before {
  content: "UNSEEN REALITIES";
}

#documentary-sections-container > .product:nth-of-type(3)::before {
  content: "POWERFUL PERSPECTIVES";
}
/*Horror*/
#horror-sections-container > .product:nth-of-type(1)::before {
  content: "CREEPY CLASSICS";
}

#horror-sections-container > .product:nth-of-type(2)::before {
  content: "PSYCOLOGICAL TERROR";
}

#horror-sections-container > .product:nth-of-type(3)::before {
  content: "CHILLING THRILLS";
}

/*Romance*/
#romance-sections-container > .product:nth-of-type(1)::before {
  content: "TIMELESS LOVE";
}

#romance-sections-container > .product:nth-of-type(2)::before {
  content: "UNFORGATEABLE";
}

#romance-sections-container > .product:nth-of-type(3)::before {
  content: "ROMANTIC CLASSICS";
}

/*Science fiction*/
#science-fiction-sections-container > .product:nth-of-type(1)::before {
  content: "FUTURISTIC";
}

#science-fiction-sections-container > .product:nth-of-type(2)::before {
  content: "TECHNO";
}

#science-fiction-sections-container > .product:nth-of-type(3)::before {
  content: "SPACE";
}
