/*DETALED MOVIE REVIEW PAGE*/
.movie-poster-detailed-review-page{
    height: 200px;
    width: 100px;
    padding-left: 3%;
}

  .movie-header{
    display: flex;
    gap: 5%;
    align-items: flex-start;
    padding: 3%;
}

.movie-information{
    flex: 1;
}

.movie-titel-heart{
    display: flex;
    align-items: center;
    gap: 3%;
}
.movie-header{
    display: flex;
    gap: 5%;
    align-items: flex-start;
    padding: 3%;
}

.movie-information{
    flex: 1;
}

.movie-titel-heart{
    display: flex;
    align-items: center;
    gap: 3%;
}

#more { display: none;}

#readMoreButton{
    width: 100%;
    color: #8220B3;
    background-color: #D9D9D9;
    border: none;
}

.cast{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.speech-bubble{
    position: relative;
    background-color: #454545;
    border-radius: 10px;
    padding: 5px;

}

/*bigger screens*/
@media (min-width: 800px) {
    .cast{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #readMoreButton{
        width: 50%;
    }
    .speech-bubble{
        width: 50%;
    }
    .trailer-speechbubble-container{
        display: flex;
        flex-direction: row-reverse;
    }
    .trailer{
        flex: 1;
    }
    .community-opinion{
        flex: 2;
    }
}

/*review input*/
.review-form {
    background-color: #333;
    padding: 1rem;
    color: white;
    border-radius: 8px;
  }
  
  .review-form input,
  .review-form textarea {
    width: 100%;
    background: #222;
    color: white;
    padding: 0.5rem;
    border: none;
    margin-bottom: 1rem;
  }
  
  .star-rating-input {
    font-size: 1.5rem;
    color: #FFF761;
    cursor: pointer;
    user-select: none;
  }
  
  .star-rating-input .star {
    color: grey;
  }
  
  .star-rating-input .star.selected {
    color:#FFF761 ;
  }
  
  .delete-btn {
    margin-left: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .review {
    background-color: #222;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    color: white;
    position: relative;
  }
  

.cast-image{
    width: 130px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}