/* HOMEPAGE IMAGE GRID*/
.image-homepage-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/*categories button*/
.categories-row button{
    background-color: #8220B3;
    min-width: 160px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
} 

.category-list {
    display: none;
    position: absolute;
    background-color: #B652E3;
    min-width: 160px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px 0px;
    list-style: none;

  }
  .category-list.show{
    display: block;
  }
  .category-list li {
    padding: 8px 16px;
  }

  .category-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: small;
    text-align: center;
    
  }

  .category-list li:hover {
    background-color: #d06cff;
  }
.categories{
    position: relative;
}
 
/*Mobile phone search bar*/
.search-container {
  width: 300px;
  margin: 0 auto;
}
.search-result {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
}
.search-result ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.search-result li a {
  border: 1px solid rgb(80, 80, 80);
  margin-top: 1px;
  background-color: rgb(184, 183, 183);
  padding: 1px;
  text-decoration: none;
  font-size: 12px;
  color: #8220b3;
  text-align: center;
  display: block;
  cursor: pointer;
}
.search-result li a:hover {
  background-color: rgb(207, 205, 205);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
#search-bar {
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.bar button {
  padding: 8px 12px;
  border: 1px solid #c4c3c3;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  cursor: pointer;
}