/*Movie JSON*/
p{
  font-weight: lighter;
}
.movie-card img {
  width: 100px;
  height: 200px;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(9,1fr);
  justify-items: center;
  justify-content: center;
  gap: 10px;
  justify-items: center;
}

.movie-card :hover{
  transform: scale(1.2);
}

.movie-card {
  max-width: 200px;
  transition: transform 0.3s ease;
}


  h3{
    align-self: center;
    margin-top: -3%;
    
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #111111;
    width: 800px;
    padding: 30px 20px;
    border-radius: 5%;
    box-shadow: 0 8px 16px #1e0c2b;
    margin: 0 auto;
    margin-top: 50px;
  
  }
  
  .about-container h3 {
    color: #b652e3;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .about-us img {
    width: 80px;
    height: auto;
    object-fit: contain;
  }
  
  .about-text {
    text-align: center;
  
  }
  
  .about-text p {
    font-size: smaller;
    margin-top: 2%;
    line-height: 1.4;
  }
  
  .about-btn {
    background-color: #d06cff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .about-btn:hover{
    background-color: #793E98;
  }
  
  
  .rating-home {
    height: 160px;
    width: 90px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
  }
  
  .rating-home:hover {
    transform: scale(1.15);
  }
  
  .rating-home img {
    width: 140px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
  }
  
  .big-rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background: #2a0e3d;
    color: white;
    border-radius: 12px;
    width: 280px;
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .rating-home2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .rating-home2 h4 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .rating-home2 h5 {
    font-size: 1rem;
    margin: 0;
    color: #ccc;
  }
  
  .rating-home2 span {
    font-weight: bold;
    color: #fff;
  }
  
  .rating-score {
    font-size: 3rem;
    font-weight: bold;
    color: #ffe600;
    text-shadow: 1px 1px 5px black;
  }
  .all-ratings{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10%;
    flex-wrap: nowrap;
    overflow: visible;
  }
  .most-reviewed h2{
    font-size: larger;
    font-weight: lighter;
    margin-top: 10%;
    margin-bottom:-10%;
    text-align: center;
  }
  body {
    background-color: #201f1f;
    color: white;
    font-family: Helvetica, sans-serif;
  }

/*DETALED MOVIE REVIEW PAGE*/
.movie-poster-detailed-review-page {
  height: auto;
  width: 20%;
  padding-left: 3%;
}

.movie-header {
  display: flex;
  gap: 5%;
  align-items: flex-start;
  padding: 3%;
}

.movie-information {
  flex: 1;
}

.movie-titel-heart {
  display: flex;
  align-items: center;
  gap: 3%;
}

/*navigation*/
.navbar {
  background-color: #201f1f;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.navbar-container {
  position: relative;
  display: flex;
  top: -70px;
}

.nav-links img {
  width: 50px;
  height: 45px;
  object-fit: contain;
}
.nav-links a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1em;
  align-items: center;
}
.nav-links span {
  position: relative;
  top: -12px;
}
/*hamburger menu*/
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  color: #793e98;
}

.filter-toggle {
  display: none;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  display: block;
}
/*banner*/
.banner{
  width: 100%;
  height: 200px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: visible;
}

/*search bar*/
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: 50%;
  width: 100%;
  z-index: 10;
}

.search-result {
  display: none;
  position: absolute;
  top: 100%;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  background-color: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.search-result ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
}
.search-result li a {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 1px;
  text-decoration: none;
  font-size: 12px;
  color: #8220b3;
  text-align: center;
  display: block;
  cursor: pointer;
}
.search-result li a:hover {
  background-color: rgb(207, 205, 205);
}

.bar {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
#search-bar {
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.bar button {
  padding: 8px 12px;
  border: 1px solid #c4c3c3;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  cursor: pointer;
}
/*smaller screens*/
@media (max-width: 667px) {
  .nav-links {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #201f1f;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.show {
    display: block;
    bottom: 0;
    z-index: 11;
    position: fixed;
  }

  .nav-links li {
    margin: 5px 3px;
    width: max-content;
  }
  .nav-links img {
    width: 30px;
    height: 25px;
  }
  .nav-links a {
    height: 10px;
  }
  .hamburger {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    z-index: 999;
  }
  /*filter button*/
  .filter-toggle {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    z-index: 998;
    background: #8220b3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  #filter-container {
    display: none;
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #201f1f;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding: 30px 0 20px 0;
    color: #fff;
    z-index: 998;
  }

  #filter-container.active {
    display: block;
  }

  #star-filter {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  #star-filter span {
    font-size: 25px;
  }

  #date-filter {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
  }

  .search-container {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    width: 70%;
  }
  .search-result {
    left: 50%;
  }
  
  /*categories button*/
  .categories-row button {
    background-color: #8220b3;
    min-width: 160px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .category-list {
    display: none;
    position: absolute;
    background-color: #b652e3;
    min-width: 160px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0px;
    list-style: none;
    z-index: 11;
  }
  .category-list.show {
    display: block;
  }
  .category-list li {
    padding: 8px 16px;
  }

  .category-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: small;
    text-align: center;
  }

  .category-list li:hover {
    background-color: #d06cff;
  }
  .categories {
    position: relative;
  }

}
/*bigger screens*/
@media (min-width: 650px) {
  .search-container {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 300px;
    z-index: 10;
  }
  .hamburger {
    display: none;
  }
  .categories-row {
    display: none;
  }

  .category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    padding: 10px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .category-list li {
    display: inline-block;
  }

  .category-list li a {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    display: block;
    text-decoration: none;
    background-color: #b652e3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  .category-list li a:hover {
    background-color: #8220b3;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}
@media (max-width: 1100px) {
  #movie-list {
    grid-template-columns:repeat(3, 2fr);
    column-gap: 10px;
  }

  .movie-card img {
    width: 120px;
    height: 240px;
  }
  
}
.movie-header {
  display: flex;
  gap: 5%;
  align-items: flex-start;
  padding: 3%;
}

/*Sources/Refrences
 https://www.youtube.com/watch?v=OQZNAMjC6Vg*/
 footer {
  text-align: center;
  padding: 20px 30px;
  color: #d9d9d9;
  position: relative;
  border-top: 3px solid #793E98;
}
 .footer-links {
  text-align: center;
  margin-bottom: 5%;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  font-size: large;
  color: #d9d9d9;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
.footer-links a:hover{
  color: #793E98;

}

.social-media {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 10%;
  position: relative;
}

.social-media p {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}
/* sign in*/
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #201f1f;
  padding: 5%;
  border-radius: 5%;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.social-media p span {
  position: absolute;
  bottom: -25px;
  transform: translateX(-50%);
  background: #444;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s;
}
.social-media p:hover span {
  opacity: 1;
}
.social-media p:hover{
  color: #793E98;
  transform: scale(1.1);
}

/* sign in*/
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #201f1f;
  padding: 5%;
  border-radius: 5%;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.modal-content h2 {
  align-self: center;
}

.modal-content p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.modal-content input {
  padding: 5px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 5px;
}

.modal-content button {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content button:hover {
  cursor: pointer;
  background-color: #cfcfcf;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  color: #cfcfcf;

}
/*stars*/
#star-filter span {
  font-size: 2rem;
  cursor: pointer;
  color: lightgray;
}

#star-filter span.hover,
#star-filter span.active {
  color: gold;
}


