/*Movie JSON*/
p{
  font-weight: lighter;
}
.movie-card img {
  width: 200px;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.movie-card {
  max-width: 200px;
}

/*favorites section*/
.favourite-item img {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.favourite-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
}
body {
  background-color: #201f1f;
  color: white;
  font-family: Helvetica, sans-serif;
}
/*banner*/
.banner-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  z-index: 10;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 10;
}

/*navigation*/
.navbar {
  background-color: #201f1f;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.navbar-container {
  position: relative;
  display: flex;
  top: -70px;
}

.nav-links img {
  width: 50px;
  height: 45px;
  object-fit: contain;
}
.nav-links a {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 1em;
  align-items: center;
}
.nav-links span {
  position: relative;
  top: -12px;
}
/*hamburger menu*/
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  color: #793e98;
}

.filter-toggle {
  display: none;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  display: block;
}
/*search bar*/
.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-result {
  display: none;
  position: absolute;
  bottom: 35px;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
}
.search-result ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.search-result li a {
  border: 1px solid rgb(80, 80, 80);
  margin-top: 1px;
  background-color: rgb(184, 183, 183);
  padding: 1px;
  text-decoration: none;
  font-size: 12px;
  color: #8220b3;
  text-align: center;
  display: block;
  cursor: pointer;
}
.search-result li a:hover {
  background-color: rgb(207, 205, 205);
}

.bar {
  display: flex;
  align-items: center;
}
#search-bar {
  width: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.bar button {
  padding: 8px 12px;
  border: 1px solid #c4c3c3;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  cursor: pointer;
}
/*smaller screens*/
@media (max-width: 667px) {
  .nav-links {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #201f1f;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.show {
    display: block;
    bottom: 0;
    z-index: 11;
    position: fixed;
  }

  .nav-links li {
    margin: 5px 3px;
    width: max-content;
  }
  .nav-links img {
    width: 30px;
    height: 25px;
  }
  .nav-links a {
    height: 10px;
  }
  .hamburger {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    z-index: 999;
  }
  /*filter button*/
  .filter-toggle {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    z-index: 998;
    background: #8220b3;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  #filter-container {
    display: none;
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #201f1f;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    padding: 30px 0 20px 0;
    color: #fff;
    z-index: 998;
  }

  #filter-container.active {
    display: block;
  }

  #star-filter {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  #star-filter span {
    font-size: 25px;
  }

  #date-filter {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
  }

  .search-container {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    width: 70%;
  }
  .search-result {
    left: 50%;
  }
  /*categories button*/
  .categories-row button {
    background-color: #8220b3;
    min-width: 160px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .category-list {
    display: none;
    position: absolute;
    background-color: #b652e3;
    min-width: 160px;
    margin-top: 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0px;
    list-style: none;
    z-index: 11;
  }
  .category-list.show {
    display: block;
  }
  .category-list li {
    padding: 8px 16px;
  }

  .category-list li a {
    text-decoration: none;
    color: #ffffff;
    font-size: small;
    text-align: center;
  }

  .category-list li:hover {
    background-color: #d06cff;
  }
  .categories {
    position: relative;
  }
  /*Movie JSON*/
  #movie-list {
    gap: 100px;
    padding: 12px;
  }

  .movie-card {
    max-width: 120px;
  }
}
/*bigger screens*/
@media (min-width: 650px) {
  .search-container {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 300px;
    z-index: 10;
  }
  .hamburger {
    display: none;
  }
  .categories-row {
    display: none;
  }

  .category-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    padding: 10px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .category-list li {
    display: inline-block;
  }

  .category-list li a {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    display: block;
    text-decoration: none;
    background-color: #b652e3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  .category-list li a:hover {
    background-color: #8220b3;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

/*Sources/Refrences
 https://www.youtube.com/watch?v=OQZNAMjC6Vg*/

#movie-list {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  background-color: #121212;
}

#movie-list::-webkit-scrollbar {
  display: none;
}

.movie-card {
  flex: 0 0 auto;
  width: 180px;
  scroll-snap-align: start;
  background: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}
/* sign in*/
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #201f1f;
  padding: 5%;
  border-radius: 5%;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.modal-content h2 {
  align-self: center;
}

.modal-content p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.modal-content input {
  padding: 5px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 5px;
}

.modal-content button {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content button:hover {
  cursor: pointer;
  background-color: #cfcfcf;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.close:hover {
  color: #cfcfcf;
}
/*stars*/
#star-filter span {
  font-size: 2rem;
  cursor: pointer;
  color: lightgray;
}

#star-filter span.hover,
#star-filter span.active {
  color: gold;
}

