.banner {
  background-color: #b652e3;
  color: white;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 30vw;
  overflow: hidden;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-family: "playfair-display", serif;
  font-weight: 700;
}

#avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #793e98;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

input {
  width: 250px;
}

button {
  background-color: #8220b3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #793e98;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2em;
}

.name-display {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 15px;
}

.name-display span:first-child {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}

#savedName {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}

.language-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap:10px;
}

.dropdown-container {
  margin: 10px 0;
  text-align: center;
  position: relative;
}

.dropdown-toggle p {
  cursor: pointer;
  color: #fff;
  margin: 5px 0;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  color: black;
  border-radius: 5px;
  padding: 0;
  margin: 5px 0 0;
  list-style: none;
  width: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  z-index: 10;
  top: 100%;
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #a6a6a6;
}

.dropdown.show {
  max-height: 300px;
}

.hidden {
  display: none;
}

/*Dropdown for location goes upward*/
.drop-up .dropdown {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

@media (max-width: 667px) {
  .banner {
    height: 60vh;
  }

  .profile h1 {
    padding-top:30%;
    margin-bottom: 5%;
    font-size: 1.3rem;
  }

  .profile {
    position: static;
    transform: none;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
  }

  #avatar {
    width: 100px;
    height: 100px;
  }

  input {
    width: 100%;
  }

  button {
    width: 70%;
  }

  .name-display {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 0.5rem;
  }

  #savedName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 40%;
  }

  .language-location {
    margin-top: 10px;
  }

  .dropdown-container,
  .drop-up {
    width: 100%;
  }

  /*Dropdown menu*/
  .dropdown {
    width: 90%;
    margin: 5px auto;
  }

  .dropdown li {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .drop-up .dropdown {
    top: auto;
  }
}

/*ipads*/
@media (min-width: 677px) and (max-width: 1024px) {
  .banner {
    height: 55vh;
  }

  .profile h1 {
    padding-top:5%;
    margin-top: 5%;
    font-size: 2rem;
  }

  #avatar {
    width: 150px;
    height: 150px;
  }

  input,
  button {
    width: 100%;
  }

  button {
    width: 80%;
    font-size: 1rem;
  }

  .name-display {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
       padding-bottom:8%;
  }

  .name-display span:first-child,
  #savedName {
    font-size: 1.8rem;
    padding-bottom:10%;
  }

  .language-location {
    margin-top: 15px;
    gap: 30px;
    padding-top: 2.5%;
  }

  .language-location h3 {
    font-size: 1.3rem;
  }

  .language-location p {
    font-size: 1rem;
  }

  .dropdown-container {
    width: 90%;
  }

  .dropdown {
    width: 80%;
  }

  .dropdown li {
    font-size: 1rem;
  }
}


@media (min-width: 768px) and (max-width: 1366px) {
  .banner {
    height: 60vh;
  }

  .profile h1 {
    margin-top: 5%;
    font-size: 2rem;
  }

  .profile {
    padding: 15px;
    width: 70%;
    max-width: 80%;
  }

  #avatar {
    width: 200px;
    height: 200px;
  }

  input,
  button {
    width: 100%;
  }

  button {
    width: 100%;
    font-size: 1rem;
  }

  .name-display {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .name-display span:first-child,
  #savedName {
    font-size: 1.8rem;
  }

  .language-location {
    margin-top: 15px;
    gap: 30px;
    padding-top: 2.5%;
  }

  .language-location h3 {
    font-size: 1.3rem;
  }

  .language-location p {
    font-size: 1rem;
  }

  .dropdown-container {
    width: 90%;
  }

  .dropdown {
    width: 80%;
  }

  .dropdown li {
    font-size: 1rem;
  }
}

@media (min-width: 820px) and (max-width: 850px) {
  .banner {
    height: 45vh;
  }

  .profile h1 {
    margin-top: 5%;
    font-size: 1.6rem;
  }

  .profile {
    padding: 10px;
    width: 70%;
    max-width: 60%;
  }

  #avatar {
    width: 120px;
    height: 120px;
  }

  input,
  button {
    width: 100%;
  }

  button {
    width: 70%;
    font-size: 0.9rem;/
  }

  .name-display {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .name-display span:first-child,
  #savedName {
    font-size: 1.4rem;
  }

  .language-location {
    margin-top: 10px;
    gap: 20px;
    padding-top: 1%;
  }

  .language-location h3 {
    font-size: 1.1rem;
  }

  .language-location p {
    font-size: 0.9rem;
  }

  .dropdown-container {
    width: 80%;
  }

  .dropdown {
    width: 70%;
  }

  .dropdown li {
    font-size: 0.9rem;
  }
}


