.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  left: 40%;
  bottom: 250px;
  z-index: 2;
  flex-wrap: wrap;
}

#avatar {
  width: 200px;
  height: 200px;
  border: 2px solid #793E98;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

input {
  width: 250px;
}

button {
  background-color: #b652e3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #8220b3;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2em;
}
.name-display {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 15px;
}

.banner {
  background-color: #793E98;
  color: white;
  width: 100%;
  height: 60vh;
  overflow: visible;
  z-index: 1;
  object-fit: cover;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 667px) {
  .profile {
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 90%;
  }

  #avatar {
    width: 150px;
    height: 150px;
  }

  input {
    width: 80%;
  }

  .name-container {
    font-size: 1em;
  }

  button {
    width: 100%;
  }
}
